# Node artifacts
node_modules/
npm-debug.log

# Angular artifacts
/dist/
/tmp/
/*.ngfactory.ts
/*.ngstyle.ts

# Other artifacts
.DS_Store
Thumbs.db

# Angular configuration
.angular-cli.json
.angular-cli.json_

# Visual Studio Code settings
.vscode/

# IDE artifacts
*.iml
*.ipr
*.iws
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
